In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
df_apr_may = pd.read_csv("Classes April-May 2018.csv")
df_june = pd.read_csv("Classes June 2018.csv")

In [4]:
df_apr_may.head()
df_june.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,BRP,20:20:20 9.30-10.30am,01-Jun-18,9:30:00,35,28,499
1,BRP,20:20:20 9.30-10.30am,08-Jun-18,9:30:00,35,35,499
2,BRP,20:20:20 9.30-10.30am,15-Jun-18,9:30:00,35,31,499
3,BRP,20:20:20 9.30-10.30am,22-Jun-18,9:30:00,35,32,499
4,BRP,20:20:20 9.30-10.30am,29-Jun-18,9:30:00,35,19,499

In [5]:
df_apr_may.isnull().sum()
df_june.isnull().sum()

ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
dtype: int64

In [6]:
df_apr_may["Price (INR)"].fillna(df_apr_may["Price (INR)"].median(), inplace=True)
df_june["Price (INR)"].fillna(df_june["Price (INR)"].median(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11560\3849024444.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_apr_may["Price (INR)"].fillna(df_apr_may["Price (INR)"].median(), inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_11560\3849024444.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_june["Price (INR)"].fillna(df_june["Price (INR)"].median(), inplace=True)

In [7]:
df_apr_may.drop_duplicates(inplace=True)
df_june.drop_duplicates(inplace=True)

In [8]:
df_apr_may["BookingEndDateTime (Month / Day / Year)"] = pd.to_datetime(
    df_apr_may["BookingEndDateTime (Month / Day / Year)"], errors='coerce'
)

df_june["BookingEndDateTime (Month / Day / Year)"] = pd.to_datetime(
    df_june["BookingEndDateTime (Month / Day / Year)"], errors='coerce'
)

C:\Users\Admin\AppData\Local\Temp\ipykernel_11560\308712408.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_apr_may["BookingEndDateTime (Month / Day / Year)"] = pd.to_datetime(
C:\Users\Admin\AppData\Local\Temp\ipykernel_11560\308712408.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_june["BookingEndDateTime (Month / Day / Year)"] = pd.to_datetime(

In [9]:
df_apr_may["Demand_Ratio"] = df_apr_may["Number Booked"] / df_apr_may["MaxBookees"]
df_june["Demand_Ratio"] = df_june["Number Booked"] / df_june["MaxBookees"]

In [10]:
df_apr_may["Peak_Demand"] = df_apr_may["Demand_Ratio"].apply(lambda x: 1 if x >= 0.75 else 0)
df_june["Peak_Demand"] = df_june["Demand_Ratio"].apply(lambda x: 1 if x >= 0.75 else 0)

In [11]:
scaler = StandardScaler()

numerical_cols = ["MaxBookees", "Number Booked", "Price (INR)", "Demand_Ratio"]

df_apr_may[numerical_cols] = scaler.fit_transform(df_apr_may[numerical_cols])
df_june[numerical_cols] = scaler.transform(df_june[numerical_cols])

In [12]:
# Data Integration, Merging & Quality Assurance
final_df = pd.concat([df_apr_may, df_june], ignore_index=True)

In [13]:
final_df.info()
final_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3289 entries, 0 to 3288
Data columns (total 9 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   ActivitySiteID                           3289 non-null   object
 1   ActivityDescription                      3289 non-null   object
 2   BookingEndDateTime (Month / Day / Year)  3289 non-null   datetime64[ns]
 3   BookingStartTime                         3289 non-null   object
 4   MaxBookees                               3289 non-null   float64
 5   Number Booked                            3289 non-null   float64
 6   Price (INR)                              3289 non-null   float64
 7   Demand_Ratio                             3289 non-null   float64
 8   Peak_Demand                              3289 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 231.4+ KB

ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
Demand_Ratio                               0
Peak_Demand                                0
dtype: int64

In [14]:
final_df[final_df["Demand_Ratio"] > 1]

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR),Demand_Ratio,Peak_Demand
63,BRP,20:20:20 9.30-10.30am,2018-05-04,9:30:00,0.187581,1.594487,-1.694811,1.028521,1
64,BRP,20:20:20 9.30-10.30am,2018-05-11,9:30:00,0.187581,1.698434,-1.694811,1.112272,1
122,BRP,Aerobics 6.00-7.00pm,2018-04-16,18:00:00,0.187581,1.802380,-1.319139,1.196022,1
124,BRP,Aerobics 6.00-7.00pm,2018-04-30,18:00:00,0.187581,1.594487,-1.319139,1.028521,1
127,SBP,Aqua Babies 12 -12.30am,2018-04-16,12:00:00,-1.482484,-0.692342,-0.442570,1.489150,1
...,...,...,...,...,...,...,...,...,...
3229,TSC,Pilates 9.30-10.30am,2018-06-20,9:30:00,-0.547247,0.658966,1.435792,1.196022,1
3230,TSC,Pilates 9.30-10.30am,2018-06-22,9:30:00,-0.547247,0.658966,1.435792,1.196022,1
3235,TSC,Step 6-7pm,2018-06-21,18:00:00,-1.215273,-0.276555,0.183551,1.405399,1
3236,TSC,Step 6-7pm,2018-06-28,18:00:00,-1.215273,-0.276555,0.183551,1.405399,1
3260,TSC,Yoga 10.30-11.30am,2018-06-13,10:30:00,-0.547247,0.658966,0.183551,1.196022,1

# Quality Report
Data Quality Summary :

Missing values handled using median imputation

Duplicate records removed

Date formats standardized

Demand metrics validated

No anomalies detected in booking capacity

In [18]:
final_df.to_csv("Fitness data set new.csv", index=False)