In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Fitness data set new.csv")
df.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR),Demand_Ratio,Peak_Demand
0,HXP,20-20-20 2.45pm-3.45pm,2018-04-08,14:45:00,-0.480445,-0.588395,-1.694811,-0.328242,0
1,HXP,20-20-20 2.45pm-3.45pm,2018-04-15,14:45:00,-0.480445,-0.276555,-1.694811,0.023511,0
2,HXP,20-20-20 2.45pm-3.45pm,2018-04-22,14:45:00,-0.480445,-0.380501,-1.694811,-0.093740,0
3,HXP,20-20-20 2.45pm-3.45pm,2018-04-29,14:45:00,-0.480445,-0.900235,-1.694811,-0.679995,0
4,HXP,20-20-20 2.45pm-3.45pm,2018-05-06,14:45:00,-0.480445,-1.108129,-1.694811,-0.914497,0

In [3]:
def dynamic_price(row):
    base_price = row["Price (INR)"]
    
    if row["Demand_Ratio"] >= 0.8:
        return base_price * 1.2   # Increase price by 20%
    elif row["Demand_Ratio"] <= 0.4:
        return base_price * 0.85  # Discount
    else:
        return base_price

In [4]:
df["Dynamic_Price"] = df.apply(dynamic_price, axis=1)
df[["Price (INR)", "Dynamic_Price", "Demand_Ratio"]].head()

   Price (INR)  Dynamic_Price  Demand_Ratio
0    -1.694811      -1.440589     -0.328242
1    -1.694811      -1.440589      0.023511
2    -1.694811      -1.440589     -0.093740
3    -1.694811      -1.440589     -0.679995
4    -1.694811      -1.440589     -0.914497

In [5]:
df["Original_Revenue"] = df["Price (INR)"] * df["Number Booked"]
df["Dynamic_Revenue"] = df["Dynamic_Price"] * df["Number Booked"]

df[["Original_Revenue", "Dynamic_Revenue"]].sum()

Original_Revenue   -607.555505
Dynamic_Revenue    -586.052478
dtype: float64

#Report
A rule-based dynamic pricing algorithm was developed using demand ratios. 
Prices were increased during high-demand periods and discounted during low-demand periods. Revenue simulations showed potential improvement in 
per-class and overall revenue.